.de-admin {
    position: relative;
    display: flex;
    flex-direction: column;

    &--overlay {
        position: absolute;
        background-color: rgba($color: $dark-color, $alpha: 0.625);
        z-index: 2;
        width: 100vw;
        height: 100vh;
    }

    &__main {
        display: flex;
        flex-direction: column;
        height: calc(100vh - $desktop-header-height);
        @include transition;
        
        @media ($desktop-screen) {
            margin-top: $desktop-header-height;
            margin-left: $desktop-sidebar-width;
        }

        &--lg {
            margin-left: 60px;
        }
    }

    &__content {
        padding: $padding-x calc($padding-y * 1.5);
        flex-grow: 1;
    }

    // Components
    @import 'components/admin/header';
    @import 'components/admin/sidebar';
    @import 'components/admin/footer';
    @import 'components/admin/breadcrumb';
    @import 'components/admin/card';
    @import 'components/admin/datatable';
}