.de-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

@import 'components/app/header';
@import 'components/app/footer';
