.de-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    
    &__header {
        padding: 10px 0;
        box-shadow: 0 0 5px rgba($color: $dark-color, $alpha: 0.275);

        &-inner {
            display: flex;
            align-items: center;

        }

        &-brand {
            &--logo {
                width: auto;
                max-height: 40px;
            }
        }

        &-nav {
            margin-left: auto;

            &--list {
                &-item {
                    padding: 0 12px;

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__footer {
        background-color: $dark-color;
        color: $white;
        padding: 20px 0 10px 0;

        &-copyright {
            border-top: 1px solid rgba($color: $white, $alpha: 0.125);
            padding-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &--list {
            li {
                margin-right: 15px;
    
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}