$font-family: 'Poppins', sans-serif;

$primary-color: #0d56e2;
$secondary-color: #5a67b3;

$bg-color: #eff2f7;

$white: #ffffff;
$black: #000000;

$dark-color: #1e1c1c;
$light-color: #ebe4e4;

$heading-color: $dark-color;
$text-color: #3e4045;
$light-text: #7c7b85;

$border-radius: 5px;

$app-header-color: #000000;