$font-family: 'Poppins', sans-serif;

$primary-color: #0d56e2;
$primary-color-inverse: #0846b8;
$secondary-color: #61b616;
$secondary-color-inverse: #4d9b08;

$bg-color: #eff2f7;

$white: #ffffff;
$black: #000000;

$dark-color: #1e1c1c;
$light-color: #efefef;

$heading-color: $dark-color;
$text-color: #3e4045;
$light-text: #7c7b85;

$border-radius: 5px;
$sidebar-color: #101013;

$padding-x: 12px;
$padding-y: 20px;

$desktop-sidebar-width: 270px;
$mobile-sidebar-width: 240px;
$desktop-header-height: 60px;

$desktop-screen: 'min-width: 992px';