$font-family: 'Poppins', sans-serif;

$primary-color: #0d56e2;
$primary-color-inverse: #0846b8;
$secondary-color: #61b616;
$secondary-color-inverse: #4d9b08;

$splash-color: #042460;

$bg-color: #fcfcfc;

$white: #ffffff;
$black: #000000;

$dark-color: #1e1c1c;
$light-color: #efefef;

$bg-light: $light-color;
$bg-dark: $dark-color;

$heading-color: $dark-color;
$text-color: #3e4045;
$light-text: #8b8a95;

$light-border: #e6e9e6;

$border-radius: 5px;
$sidebar-color: #101013;

$form-radius: 2px;
$form-border-color: #ccced1;

$default-padding-x: 8px;
$default-padding-y: 12px;

$padding-x: 12px;
$padding-y: 20px;

$desktop-sidebar-width: 270px;
$mobile-sidebar-width: 240px;
$desktop-header-height: 60px;

$sidebar-icon-size: 36px;

$default-fontsize: 12px;
$desktop-fontsize: 13px;

$default-lineheight: 18px;
$desktop-lineheight: 20px;

$desktop-screen: 'min-width: 992px';