.de-card {
    position: relative;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: 0 0 20px 0 rgba($color: $dark-color, $alpha: 0.125);
    margin-bottom: $padding-x;

    &:last-child {
        margin-bottom: 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $padding-x * 2 $padding-y;
        border-left: calc($padding-x / 2) solid $primary-color;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;

        &--title {
            color: $black;
            font-weight: 700;
        }

        &--desc {
            color: $light-text;
        }

        &::before {
            position: absolute;
            height: 100%;
            width: $default-padding-x;
            background-color: $primary-color;
        }
    }

    &__body {
        padding: ($padding-x * 2) $padding-y;
    }
    
    &__table {
        padding: 2px;
    }

    &__info {
        display: flex;
        justify-content: flex-end;
        box-shadow: none;
        background-color: transparent !important;

        &--alert {
            justify-content: flex-start;
            
            .alert {
                display: block;
                width: 100%;

                display: flex;
                align-items: center;

                &-icon {
                    font-size: 2rem;
                    margin-right: $default-padding-x;
                }
            }
        }

    }
}