.de-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $padding-x $padding-y;

    &--list {
        li {
            margin-right: 8px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
}