.de-header {
    position: relative;
    padding: 10px 0;
    z-index: 1;
    background-color: $white;
    height: $desktop-header-height;
    max-height: $desktop-header-height;
    box-shadow: 0 0 10px rgba($color: $dark-color, $alpha: 0.125);

    @media ($desktop-screen) {
        margin-left: $desktop-sidebar-width;
    }

    &--brand {
        &-image {
            width: auto;
            max-height: 34px;
        }
    }

    &--content {
        display: flex;
        align-items: center;
        // height: 100%;
    }

    &--list {
        margin-left: auto;
        li {
            margin-right: 10px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
}