.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $default-padding-x $default-padding-y;
    font-size: $default-fontsize;
    line-height: $default-lineheight;
    font-weight: 500;
    border-radius: $border-radius;
    cursor: pointer;
    // border: 1px solid transparent;
    @include transition;

    @media ($desktop-screen) {
        font-size: $desktop-fontsize;
        line-height: $desktop-lineheight;
    }

    .svg-inline--fa {
        margin-left: $default-padding-x;
    }

    &-sm {
        padding: calc($default-padding-x / 2) calc($default-padding-y / 2);
        border-radius: 2px;
    }

    &-lg {
        padding: calc($default-padding-x * 2) calc($default-padding-y * 2);
        border-radius: $border-radius;
    }

    &-block {
        width: 100%;
    }

    &-icon {
        width: 40px;
        height: 40px;

        .svg-inline--fa {
            margin-left: 0;
        }

        &.btn-sm {
            width: 32px;
            height: 32px;
            border-radius: 2px;
        }
    }

    &-highlight {
        color: rgba($color: $white, $alpha: 0.8);
        text-transform: uppercase;
        background-color: $secondary-color;

        &:active,
        &:focus,
        &:focus-within,
        &:focus-visible,
        &:hover {
            color: rgba($color: $white, $alpha: 1);
            background-color: $secondary-color-inverse;
        }
    }

    &-primary {
        background-color: $primary-color;
        background-image: radial-gradient(
            circle farthest-corner at -4% -12.9%,
            $primary-color 0%,
            $splash-color 100%
        );
        color: $white;

        @include btn-hover(
            background-image,
            radial-gradient(
                circle farthest-corner at -4% -12.9%,
                $splash-color 0%,
                $primary-color 100%
            )
        );

        &-outline {
            color: $primary-color;
            border: 1px solid $primary-color;
            background-color: rgba($color: $primary-color, $alpha: 0);

            @include btn-hover(color, $primary-color);
            @include btn-hover(background-color, rgba($color: $primary-color, $alpha: 0.1));
        }
    }

    &.de-submit {
        margin: 0 auto;

        &--loading {
            span {
                display: none;
            }

            &::before {
                content: "Please Wait";
            }

            .svg-inline--fa {
                animation: de-spin 1.5s linear infinite;
            }

            @keyframes de-spin {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }

                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
        }

        &__end {
            margin-left: auto !important;
        }
    }
}