.de-form {
    .el-form-item {
        .el-form-item__label {
            color: $black;
            margin-bottom: 4px !important;
        }

        .el-input__wrapper,
        .el-select__wrapper,
        .el-textarea__inner {
            border-radius: $form-radius;
            padding: $default-padding-x $default-padding-y;
            box-shadow: 0 0 0 1px $form-border-color inset;
        }

        .el-input__wrapper > .el-input__inner {
            line-height: 24px;
            height: 24px;
        }
    }
    
    // .el-select__placeholder,
    textarea::placeholder,
    input::placeholder {
        font-size: $default-fontsize;
        line-height: $default-lineheight;
        font-weight: 300;
        color: $light-text !important;
        opacity: 0.85 !important;

        @media ($desktop-screen) {
            font-size: $desktop-fontsize;
            line-height: $desktop-lineheight;
        }
    }

    .ck {
        &-editor {
            width: 100% !important;

            &__editable {
                min-height: 200px;
            }
            
            &.ck-focused {
                border: red !important;
            }
        }
        
        &.ck-editor.ck-focused {
            border-color: red !important;
        }
    }


}