.de-form {
    .el-form-item {
        .el-form-item__label {
            color: $black;
            margin-bottom: 4px !important;
        }
    }
    
    // .el-select__placeholder,
    textarea::placeholder,
    input::placeholder {
        font-size: $default-fontsize;
        line-height: $default-lineheight;
        font-weight: 300;
        color: $light-text !important;
        opacity: 0.85 !important;

        @media ($desktop-screen) {
            font-size: $desktop-fontsize;
            line-height: $desktop-lineheight;
        }
    }
}