.footer {
    background-color: $dark-color;
    color: $white;
    padding: 20px 0 10px 0;

    &-copyright {
        border-top: 1px solid rgba($color: $white, $alpha: 0.125);
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &--list {
        li {
            display: inline-block;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}